*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Inter',sans-serif;

background:#000;

color:#fff;

}

.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:25px 40px;

display:flex;

justify-content:space-between;

align-items:center;

z-index:999;

background:rgba(0,0,0,.2);

backdrop-filter:blur(10px);

}

.logo{

font-size:1rem;

font-weight:700;

letter-spacing:5px;

}

.menu-btn{

font-size:1.5rem;

cursor:pointer;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

background:#000;

}

.hero-content{

animation:fadeUp 1s ease;

}

.hero h1{

font-size:7rem;

font-weight:800;

letter-spacing:10px;

}

.hero p{

margin-top:20px;

letter-spacing:6px;

color:#aaa;

}

.shop-btn{

display:inline-block;

margin-top:40px;

padding:18px 60px;

border:1px solid white;

color:white;

text-decoration:none;

letter-spacing:2px;

transition:.3s;

}

.shop-btn:hover{

background:white;

color:black;

transform:translateY(-3px);

}

.products-section{

padding:120px 8%;

}

.products-section h2{

font-size:2rem;

margin-bottom:50px;

letter-spacing:4px;

}

.products{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

}

.product-card{

cursor:pointer;

}

.product-card img{

width:100%;

display:block;

transition:.4s;

}

.product-card:hover img{

transform:scale(1.03);

}

.product-card h3{

margin-top:20px;

font-size:1rem;

letter-spacing:2px;

}

.product-card p{

margin-top:10px;

color:#999;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:768px){

.hero h1{

font-size:4rem;

letter-spacing:5px;

}

.hero p{

font-size:.8rem;

}

.products{

grid-template-columns:1fr;

}

.products-section{
